* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.bImage{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(BrideB.jpeg);
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: black;
}
.content h1 {
    font-size: 70px;
    font-family: cursive;
    font-style: italic;
    margin-top: 80px;
    color: grey;
}
p{
    font-size: 25px;
}
button{
    width: 200px;
    padding:15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(166, 133, 68);
    background: transparent;
    color: black;
    cursor: pointer;
    font-size: 20px;
}
a {
    color: black;
    text-decoration: none;
}

/* Subscribe html*/
.subscribe {
    Float: right;
        margin-top: 300px;
        color: rgb(149, 116, 52);
        font-weight: bold;
        margin-right: 90px;
}
#Submitbtn {
    background-color: rgb(146, 111, 42);
    padding: .5rem;
    color: black;
    cursor: pointer;
    width: auto;
    font-weight: bold;
    margin-top: 20px;
}
label {
    display: block;
}

/* eng html
.bttn {
    height: 50px;
    width: 50px;
    cursor: pointer;
}