body {
    font-family: arial;
    background: rgb(63, 92, 92)
}
.servicetype{
    width: 33%;
    background: #262626;
    float: left;
    margin-top: 2%;
    text-align: center;
    transition: 0.9s;
}
.price{
    width: 120px;
    height: 150px;
    border-radius: 50%;
    margin: 5% auto 0 auto;
    text-align: center;
}
.service{
    margin-top: 10%;
}
.servicetype h1 {
    font-size: 18px;
    color: white;
    line-height: 3;
    text-transform: uppercase;
}
.price h2{
    font-size: 38px;
    color: white;
}
.service h4{
    font-size: 14px;
text-align: center;
color: white;
}
.servicetype:hover{
    background: #da4357;
    color: white;
}
a {
    text-decoration: none;
    background: #a95863;
    color: white;
    padding: 10px 50px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}
h3{
    font-size: 20px;
    color: white;
}
.newprice{
    color: rgb(63, 92, 92);
    font-weight: bold;
    font-size: 20px;
}

